.header {
    width: 100%;
    display: flex;

    align-items: flex-start;
    justify-content: center;
    background-color: rgba(77, 196, 146, 0.85);
}

.form {
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.field {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 32px;
    border: none;
    outline: none;
}

.submitBtn {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
    height: 32px;
    margin-right: -2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline: none;
}

.error {
    color: rgb(221, 7, 7);
}